<template>
  <div :class="{ desktop : !mobile }">
    <div class="grid-nogutter col-12">
      <div class="grid formgrid">
        <div class="lg:col-4 col-12">
          <h4>Place List</h4>
        </div>
        <div v-show="mobile">&nbsp;</div>
        <span class="lg:col-2 col-12">
          <Dropdown v-model="selectType" :options="type" optionLabel="typeName" optionValue="typeValue" class="input" style="width: 100%;" @change="changeType()" />
        </span>
        <div v-show="!mobile">
          <span class="vertical_line flex align-items-center"></span>
        </div>
        <div v-show="mobile">&nbsp;</div>
        <span class="p-input-icon-right lg:col-5 col-12"  :class="{ search : !mobile }">
          <i class="pi pi-search"></i>
          <InputText type="text" v-model="keyword" class="searchInput" placeholder="Search name..." @keyup="searching()" />
        </span>
      </div>
    </div>
    <div class="grid-nogutter col-12">
      <div class="grid mt-2">

        <!-- Card for desktop -->
        <div v-show="!mobile" class="p-card p-component lg:col-4 card mr-4 mb-4" style="width: 31%;" v-for="data in restaurantList" :key="data.id">
          <div class="p-card-body">
            <div class="grid">
              <div class="col-3">
                <img v-bind:src="data.profile_image_url" class="img_profile">
              </div>
              <div class="col-9">
                <div class="grid">
                  <div class="col-12" style="padding-bottom: 0px;">
                    <h6>{{ data.name }}</h6>
                  </div>
                  <div class="col-9">
                    <Icon icon="bx:calendar" color="black" width="15" height="16.67" />
                    <label v-if="data.operation_today.time_open === 'closed'" style="font-size: 14px; color: black;">&nbsp;Closed</label>
                    <label v-else style="font-size: 14px; color: black;">&nbsp;{{ data.operation_today.time_open }} - {{ data.operation_today.time_close }}</label>
                  </div>
                  <div class="col-3">
                    <Icon icon="akar-icons:circle-fill" color="#134b8a" width="11" height="11" />
                    <span style="color: #134B8A; font-size: 16px;"><b>&nbsp;{{ data.rating }}</b></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid" style=" border-radius: 10px;">
              <div class="col-12" style="padding-bottom: 0;">
                <span v-for="(image, key) in data.images" :key="image">
                  <img v-if="key === 0" v-bind:src="image" class="images" style="border-radius: 10px 0px 0px 10px;">
                  <img v-if="key === 1" v-bind:src="image" class="images">
                  <img v-if="key === 2" v-bind:src="image" class="images" style="border-radius: 0px 10px 10px 0px;">
                </span>
              </div>
            </div>
          </div>
        </div>

        <!-- Card for mobile -->
        <div v-show="mobile" class="p-card p-component card mb-4" style="width: 100%;" v-for="data in restaurantList" :key="data.id">
          <div class="p-card-title" style="width: 100%; height: 87px;">
            <div class="mr-2 mb-2 rating_mobile">{{ data.rating }}</div>
            <img v-bind:src="data.profile_image_url" class="img_profile_mobile">
          </div>
          <div class="p-card-body" style="padding-top:0;">
            <h6 style="font-size: 12px">{{ data.name }}</h6>
            <div class="formgroup-inline flex align-content-center">
              <Icon icon="bx:calendar" color="black" width="15" height="16.67" />
              <h6 v-if="data.operation_today.time_open === 'closed'" style="font-size: 10px; color: black;">&nbsp;Closed</h6>
              <h6 v-else style="font-size: 10px; color: black;">&nbsp;{{ data.operation_today.time_open }} - {{ data.operation_today.time_close }}</h6>
            </div>
            <Galleria :value="data.images" :numVisible="3" :circular="true" :showItemNavigators="true" :showThumbnails="false">
              <template #item="slotProps">
                <img :src="slotProps.item" class="img_mobile mt-2" />
              </template>
            </Galleria>
          </div>
        </div>

        <Paginator :rows="dataOnPage" :total-records="totalRecords" class="col-12"
          template="PrevPageLink PageLinks NextPageLink" @page="onPage($event)">
        </Paginator>

      </div>
    </div>
  </div>
</template>

<script>
import Dropdown from 'primevue/dropdown';
import InputText from 'primevue/inputtext';
import Card from 'primevue/card';
import Restaurant from '@/assets/example_data.json';
import { Icon } from '@iconify/vue';
import Paginator from 'primevue/paginator';
import Galleria from 'primevue/galleria';

export default {
  components: {
    Dropdown,
    InputText,
    Card,
    Icon,
    Paginator,
    Galleria
  },

  data() {
    return {
      mobile: false,
      windowWidth: null,
      dataRestaurant: Restaurant,
      restaurantList: [],
      temp: [],
      selectType: 'restaurant',
      keyword: null,
      totalRecords: null,
      dataOnPage: 9,
      type: [
        { typeName: 'Restaurant', typeValue: 'restaurant' },
        { typeName: 'Bakery', typeValue: 'bakery' },
        { typeName: 'Cafe', typeValue: 'cafe' }
		  ]
    }
  },

  mounted () {
    this.setDateTime();
    this.changeType();
  },

  created() {
    window.addEventListener('resize', this.checkScreen);
    this.checkScreen();
  },

  methods: {
    checkScreen() {
      this.windowWidth = window.innerWidth;
      if(this.windowWidth <= 750) {
        this.mobile =  true;
      } else {
        this.mobile = false;
      }
    },

    setDateTime() {
      let day = new Date().getDay();
      for (let i = 0; i < this.dataRestaurant.length; i++) {
        this.dataRestaurant[i].operation_today = this.dataRestaurant[i].operation_time[day-1];
        let open = this.dataRestaurant[i].operation_time[day-1].time_open;
        let close = this.dataRestaurant[i].operation_time[day-1].time_close;
        if (open !== 'closed') {
          // time open
          let value = open.split(':');
          let valueInt = parseInt(value[0]);
          if(valueInt > 12) {
            this.dataRestaurant[i].operation_today.time_open = String(valueInt - 12) + ':' + value[1] + ' PM';
          } else {
            this.dataRestaurant[i].operation_today.time_open = open + ' AM';
          }
          // time close
          value = close.split(':');
          valueInt = parseInt(value[0]);
          if(valueInt > 12) {
            this.dataRestaurant[i].operation_today.time_close = String(valueInt - 12) + ':' + value[1] + ' PM';
          } else {
            this.dataRestaurant[i].operation_today.time_close = close + ' AM';
          }
        } else {
          this.dataRestaurant[i].operation_today.time_open = open;
          this.dataRestaurant[i].operation_today.time_open = close;
        }
      }
    },
 
    changeType() {
      this.restaurantList = [];
      this.temp = [];
      for (let i = 0; i < this.dataRestaurant.length; i++) {
        for (let j = 0; j < this.dataRestaurant[i].categories.length; j++) {
          if(this.selectType === this.dataRestaurant[i].categories[j]) {
            this.temp.push(this.dataRestaurant[i]);
          }
        }
      }
      this.totalRecords = this.temp.length;
      this.onPage(0);
    },

    searching() {
      this.restaurantList = [];
      this.temp = [];
      for (let i = 0; i < this.dataRestaurant.length; i++) {
        let word = String(this.dataRestaurant[i].name).toLowerCase();
        let result = word.match(this.keyword);
        if(result !== null) {
          this.temp.push(this.dataRestaurant[i]);
        }
      }
      this.totalRecords = this.temp.length;
      this.onPage(0);
    },

    onPage(event) {
      let start = 0;
      if (event.first !== undefined) {
        start = event.first;
      }
      this.restaurantList = [];
      for (let i = start; i < this.temp.length && i < start+this.dataOnPage; i++) {
        this.restaurantList.push(this.temp[i]);
      }
    }
  }
}
</script>

<style scoped>
  .desktop {
    margin-left: 110px;
  }

  h4 {
    font-family: 'Kanit' !important;
    font-size: 24px;
    margin: 0 !important;
  }

  .input {
    font-family: 'Kanit' !important;
    font-size: 14px;
    background: #FFFFFF;
    border: 1px solid #134B8A;
    border-radius: 50px;
    box-sizing: border-box;
    height: 40px;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .vertical_line{
    border-left: 1.5px solid #134B8A;
    height: 25px;
    margin: 10px;
    margin-left: 13px;
  }

  i {
    margin-right: 15px;
  }

  .img_profile {
    border-radius: 10px;
    height: 60px;
    width: 60px;
  }

  h6 {
    color: black;
    font-size: 18px;
    line-height: 160%;
    margin: 0;
  }

  div.p-card-content {
    padding: 0 !important;
  }

  .images {
    width: 120px;
    height: 120px;
  }

  .card {
    border-radius: 10px;
  }

  .p-card .p-card-content {
    padding: 0px !important;
  }

  .search {
    width: 45%;
  }

  .searchInput {
    padding-left: 25px;
    width: 100%;
    font-family: 'Kanit' !important;
    font-size: 14px !important;
    background: #FFFFFF;
    border: 1px solid #134B8A;
    border-radius: 50px;
    box-sizing: border-box;
    height: 40px;
  }

  .img_profile_mobile {
    object-fit: cover;
    width: 100%;
    height: 87px;
    border-radius: 10px 10px 0px 0px;
  }

  .img_mobile {
    object-fit: cover;
    width: 100%;
    height: 176px;
    display: block;
    border-radius: 10px;
  }

  .rating_mobile {
    background-color: #134B8A;
    color: white;
    width: 67px;
    height: 30px;
    text-align: center;
    border-radius: 30px;
    font-size: 16px;
    line-height: 27px;
    position: absolute;
    right: 6%;
    margin-top: 70px;
  }
</style>
