<template>
  <header>
    <nav class="left_bar" v-show="!mobile">
      <img src="/icsLogo.png" class="logo" />
      <hr style="margin-top: 96px">
      <div style="margin: 27px;">
        <button class="button flex align-items-center justify-content-center">
          <Icon icon="bi:card-list" color="white" width="20" height="20" />
        </button>
        <label>Place</label>
      </div>
      <hr>
    </nav>
    <div v-show="mobile">
      <img src="/icsLogo.png" class="mobile-nav" />
    </div>
  </header>
</template>

<script>
import { Icon } from '@iconify/vue';

export default {
  components: {
    Icon
  },

  data() {
    return {
      mobile: false,
      windowWidth: null,
    }
  },

  created() {
    window.addEventListener('resize', this.checkScreen);
    this.checkScreen();
  },
  
  methods: {
    checkScreen() {
      this.windowWidth = window.innerWidth;
      if(this.windowWidth <= 750) {
        this.mobile =  true;
      } else {
        this.mobile = false;
      }
    }
  }
}
</script>

<style scoped>
  .left_bar {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FFFFFF;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 0px 50px 50px 0px;
    width: 90px;
    height: 1100px;
  }

  .logo {
    position: absolute;
    left: 17px;
    top: 25px;
    width: 53px;
    height: 53px;
  }

  hr {
    height: 1px;
    border-width: 0;
    color:#E5E5E5;
    background-color:#E5E5E5;
  }

  .button {
    width: 36px;
    height: 36px;
    background: #0F1E56;
    border-radius: 10px;
    text-align: center;
  }

  .mobile-nav {
    position: absolute;
    left: 2.4%;
    right: 84.27%;
    top: 0.92%;
    bottom: 93.31%;
    border-radius: 10px;
    width: 50px;
    height: 50px;
  }
</style>
