<template>
  <header>
    <nav class="top_bar lg:col-12 sm:col-12">
      <div class="formgroup-inline flex justify-content-end flex-wrap" v-if="!mobile">
        <div class="field">
          <i class="pi pi-bell mr-4 mt-2" style="font-size: 1.7rem; color:white;" v-badge.danger></i>
        </div>
        <div class="field">
          <Avatar image="/UserImage.png" class="mr-3 mt-1" shape="circle" />
        </div>
        <div class="field mr-6">
          <div class="formgroup-inline flex align-content-center mt-2">
            <label style="color: white;">Akkarapol</label>
            <div>
              <i class="pi pi-angle-down ml-3" style="color: white; font-size: 12px;"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-content-end flex-wrap" v-else>
        <Avatar image="/UserImage.png" class="mr-3 mt-2" shape="circle" style="width: 12%; height: 12%" />
      </div>
    </nav>
  </header>
</template>

<script>
import Badge from 'primevue/badge';
import Avatar from 'primevue/avatar';
import { Icon } from '@iconify/vue';

export default {
  components: {
    Badge,
    Avatar,
    Icon
  },

  data() {
    return {
      mobile: false,
      windowWidth: null,
    }
  },

  created() {
    window.addEventListener('resize', this.checkScreen);
    this.checkScreen();
  },
  
  methods: {
    checkScreen() {
      this.windowWidth = window.innerWidth;
      if(this.windowWidth <= 750) {
        this.mobile =  true;
      } else {
        this.mobile = false;
      }
    }
  }
}
</script>

<style>
  .top_bar {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #134B8A;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 60px;
  }

  .field {
    margin: 0 !important;
  }
</style>