<template>
  <div id="app">
    <TopBar />
    <LeftBar />
    <PlaceList />
  </div>
</template>

<script>
import PlaceList from '@/views/PlaceList.vue'
import LeftBar from '@/components/LeftBar.vue'
import TopBar from '@/components/TopBar.vue'

export default {
  components: {
    TopBar,
    LeftBar,
    PlaceList
  },

  data() {
    return {
      mobile: false,
      windowWidth: null,
    }
  },

  created() {
    window.addEventListener('resize', this.checkScreen);
    this.checkScreen();
  },
  
  methods: {
    checkScreen() {
      this.windowWidth = window.innerWidth;
      if(this.windowWidth <= 750) {
        this.mobile =  true;
      } else {
        this.mobile = false;
      }
    }
  }
}
</script>


<style>
  #app {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    margin-top: 80px;
  }
</style>
